<!--http://localhost/wampangular/public_html/tests/expression/parse/parse.html -->

<!doctype html>
<html ng-app="myApp">
    <head>
        <script src="../../angular.js"></script>
    </head>
    <body>

        <div ng-controller="MyController">
            <input ng-model="to"
                   type="email"
                   placeholder="Recipient" />
            <textarea ng-model="emailBody"></textarea>
            <pre> __ previewText __</pre>
        </div>

        <script src="interpolation.js"></script>
    </body>
</html>